<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>eni_encheres</display-name>

  <session-config>
  	<session-timeout>5</session-timeout> <!-- On définit l'interval maximal où l'utilisateur peut être inactif avant la déconnexion automatique -->
  </session-config>

  <!--Mapping défini dans la servlet ServletAccueil-->
  <welcome-file-list>
    <welcome-file>/</welcome-file>
  </welcome-file-list>
  
  <!--Config pour la prise en compte des fichiers .css-->
  <servlet>
    <servlet-name>default</servlet-name>
    <servlet-class>org.apache.catalina.servlets.DefaultServlet</servlet-class>
    <init-param>
      <param-name>debug</param-name>
      <param-value>0</param-value>
    </init-param>
    <init-param>
      <param-name>listings</param-name>
      <param-value>false</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>*.css</url-pattern>
  </servlet-mapping>




</web-app>